html {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
}

body {
  width: 1440px;
  height: 100%;
  font-size: 15px;
  font-family: Outfit;
  background-color: hsl(220, 15%, 55%);
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  position: relative;
}

.main {
  width: 282px;
  height: 460px;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.slika {
  width: 282px;
  height: 262px;
  border-radius: 10px;
}

.tekst-bold {
  width: 250px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-left: 15px;
}

.tekst-tin {
  width: 250px;
  font-weight: 400;
  text-align: center;
  color: hsl(212, 45%, 89%);
  margin-left: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center; 
  justify-content: center;
  align-items: center; 
  position: absolute;
  top: 900px;
  

}
.attribution a {
  color: hsl(228, 45%, 44%);
}
